@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/SegoePrint.woff2') format('woff2'),
        url('../fonts/SegoePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/SegoePrint-Bold.woff2') format('woff2'),
        url('../fonts/SegoePrint-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Script';
    src: url('../fonts/SegoeScript-Bold.woff2') format('woff2'),
        url('../fonts/SegoeScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Script';
    src: url('../fonts/SegoeScript.woff2') format('woff2'),
        url('../fonts/SegoeScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
        url('../fonts/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold_1.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold_1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.woff2') format('woff2'),
        url('../fonts/SegoeUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url('../fonts/SegoeUI-Semilight.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('../fonts/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

